<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计数据</title>
    <style>
        .page_num a{
            display:inline-block;
            padding:5px;
            margin:3px;
            background-color:gray;
        }
        .page_num a.active {
            background-color: pink;
            color: black;
        }
    </style>
</head>
<body>
    <p>
        <label>数据库：{{database}}</label>
    </p>
    <p>
        <label>表：{{table}}</label>
    </p>
    <p>
        <label>查询内容：{{select_content}}</label>
    </p>
    <p>
        <label>时间范围：{{time_start}}至{{time_end}}</label>
    </p>
    <h1>显示数据</h1>
    <table border="1px">
        <thead>
            <tr>
                <th>filename</th>
                <th>attr</th>
                <th>fuser</th>
                <th>fgroup</th>
                <th>size</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
        {% for item in list_info%}
        <tr>
            <td>{{item[5]}}</td>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
        </tr>
        {% end %}
        </tbody>
    </table>
    <div class="page_num">
        {% raw str_page %}
    </div>

</body>
</html>